gradio
ipykernel
ipython
jupyter_client
openai
numpy<2
pandas>=2.2.3
pyarrow
duckdb
pandera
matplotlib
seaborn
pillow
torch
transformers
PyYAML
ansi2html
sentence_transformers
nbformat
pydantic
scikit-learn
flaml==2.6.0
lightgbm==4.7.0
xgboost-cpu==2.1.4
h2o==3.46.0.11
statsmodels
openpyxl
fastapi
uvicorn
python-multipart
httpx

backoff==2.2.1
langgraph>=0.2.0
instructor
pydantic
rlms[ipython]==0.1.3
dill>=0.3.7
